#slides_control > 
div{
  height: 30px;
}

img{
  margin:auto;
  width: 100px;
}
#slides_control {
  position:absolute;
  width: 100px;
  left:50%;
  top:20px;
 margin-left:-200px;
}
h3{
  line-height: 30px;
}
.desc{
  padding: 10px;
}
img{
  display: block;
  width: 1100px;
  height: 450px;
}
