.jumbotron {
    position: relative;
    background: #fff url("https://lonelyplanetimages.imgix.net/copilot/images/interest/food-and-drink.jpg?auto=compress&h=800") center center;/*slide.jpg =>you image*/    
    width: 100%;
    height: 450px;
    background-size: cover;
    overflow: hidden;
}