<div class="jumbotron">
  <h3 >Sharing food is Caring</h3>
  
  <div style="width: 300px;" >
    <form [formGroup]="sellerForm" (ngSubmit)="onSubmit()">
      
     
      <div class="form-group" >
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" formControlName="title" name="title" [(ngModel)]="sellers.title"  required>
      </div>
      <div *ngIf="sellerForm.controls['title'].invalid && (sellerForm.controls['title'].dirty || sellerForm.controls['title'].touched)" class="alert alert-danger">
          <div *ngIf="sellerForm.controls['title'].errors.required">
            title is required.
          </div>
      </div>
  
  
  
  
  <div class="form-group">
        <label for="desc">Description</label>
        <input type="text" class="form-control" id="desc" formControlName="desc" name="desc" [(ngModel)]="sellers.desc"  required>
    </div>
    <div *ngIf="sellerForm.controls['desc'].invalid && (sellerForm.controls['desc'].dirty || sellerForm.controls['desc'].touched)" class="alert alert-danger">
      <div *ngIf="sellerForm.controls['desc'].errors.required">
        Description is required.
      </div>
  </div>
  
      <div class="btn-group">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>&nbsp;
  
     
    </form>
  </div>
  </div>
  <!-- 
  <ul>
    <li *ngFor="let seller of sellers">
      <h4>{{seller.id}} - {{seller.name}} {{seller.email}}</h4>
    </li>
  </ul> -->