table, th, td,tr 
{
    border: 0;
    padding: 45px;
    padding-top: 10px;
    width:100%;
    border-spacing: 5px;
}
table
{
    border-collapse: collapse;
}
th 
{
    font-size: 30px;
    height: 40px;  
    align-content: center;
}

tr
{
    font-size: 20px;
    height: 30px;
}
img
{
    width:100%; 
    height:15%;
}
 .button {
   
     background-color: #4CAF50; /* Green */
     border: none;
     color: white;
     padding: 8px 16px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 10px;
     margin: 4px 2px;
     -webkit-transition-duration: 0.4s; /* Safari */
     transition-duration: 0.4s;
     cursor: pointer;
   } 
   .button5 {
     background-color:black;
     color:white;
     border: 2px solid #555555;
     border-radius: 12px;
   }
   .button5:hover {
     background-color:white;
     color:black;
   }
