<div class="container-fluid">
    <div id="header">
        <div class="bg-overlay"></div>
        <div class="center text-center">
              
            <div class="banner">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiViPnAvs11o_US_1s_H8EieT_ehY_UNo1rxSyzVPkuGCIf1PLLA" width=10% height=10%>
               
            </div>
            <div> 
                

                <div class="container">
                    
                  <h1 class="rainbow"><marquee>WASTE  FOOD  SHARING</marquee> </h1>
                  </div>


                <div class="w3-container" align="center">
                        <a routerLink="home" align="right" class="btn btn-primary active btn-md" role="button" routerLinkActive="active">Home</a>
                        <a routerLink="blogin" align="right" class="btn btn-primary active btn-md" role="button" routerLinkActive="active">Buyer</a>
                        <a routerLink="slogin" align="right" class="btn btn-primary active btn-md" role="button" routerLinkActive="active">Seller</a>
                </div>
            </div>
            
        </div>
       
    </div>
  
</div>
<div class="mid" >
    <router-outlet></router-outlet>
</div>
<div class="footer">
        <h3>ThankYou Keep more donating</h3>
      </div>
      